
body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: auto;
    background-image: url(../images/IMG_9209.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1200px;
    width: 100%;
    margin: 0;
    
}

header {
    background-image: url(../images/beautiful-cloud-background.jpg);
    background-size: cover;
    border-bottom: 4px solid black;
    width: 100%;
    height: 4%;
    margin: 0;
    padding: 0;
}

#name {
    background-color: #4aaaa5;
    color: white;
    border: none;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    height: auto;
    width: 190px;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 20%;
}

ul {   
    list-style-type: none;
    position: absolute;
    right: 20%;
}

li {
    float: right;
    border-right: 2px solid rgba(0,0,0,.25);
}

.nav_bar {
    color: #777777;
    font-family: 'Arial', 'Helvetiv Neue', Helvetica, sans-serif;
    text-decoration: none;
    border-bottom: none;
    padding: 10px;
    height: auto;
}

footer {
    border-top: 8px solid rgba(40, 13, 9,.6);
    color: white;
    background-color: rgba(50, 50, 50, 0.75);
    position: fixed;
    bottom: 0;
    /*flex-shrink: 0;*/
    text-align: center;
    height: 5%;
    width: 100%;   
}

h2 {
    border-bottom: solid black 3px;
    width: auto;
    margin: 20px;
    padding: 10px;
}

#inner_area {
    flex: 1 0;
    margin-top: auto;
    margin: 0;
    width: 100%;
}
a {
    text-decoration: none;
    border-bottom: 1px solid rgba(25, 11, 221, 0.5)
}
a:hover {
    background-color: rgba(255, 255, 0, 0.788);
  
}
