#portfolio_content_background {
    background-color: rgba(16, 163, 23, 0.685);
    height: 50%;
    width: 40%;
    margin: 0;
    position: relative;
    top: 5%;
    left: 30%;
}

input {
    margin: 5px;
}

.column {
    float: left;
    width: 25%;
    margin: 10px;
    position: relative;
    left:5%;
}

img {
width: 100%;
height: 100%;
}

.portfolio_link { 
padding: 1%;
width: 98%;
text-align: center;
background-color: teal;
color: white;
position: absolute;
top: 60%;
left: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
